/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header-container {
  position: relative;
  width: 100%;
  min-height: 400px;
  color: white;
}

.BL-img {
  position: relative;
  background-image: url(../imgs/MexFood.jpg);
  min-height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.BL-img::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.logo {
  padding: 10px;
  height: 180px;
  z-index: 2;
}

.hamburger {
  display: none;
  font-size: 40px;
  cursor: pointer;
  z-index: 3;
}

.navbar {
  padding: 20px;
  z-index: 2;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

.navbar li a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.navbar li a:hover {
  text-decoration: underline;
  color: #f4b400;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navbar {
    display: none;
    position: absolute;
    top: 80px;
    right: 20px;
    background: rgba(244, 243, 243, 0);
    padding: 20px;
    border-radius: 8px;
  }

  .navbar ul {
    flex-direction: column;
    gap: 15px;
  }
}
