/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header-container {
  position: relative;
  width: 100%;
  min-height: 400px;
  color: white;
}

.BL-img {
  position: relative;
  background-image: url(../imgs/MexFood2.jpg);
  min-height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.BL-img::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

.logo {
  height: 200px;
  z-index: 2;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.navbar ul {
  list-style-type: none;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.navbar li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  margin: 0 20px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar li a:hover {
  text-decoration: underline;
  color: #f4b400;
}
